/*
/*
/*
/*
/* Base styles. */

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
  color: #3a3a3a;
  font-family: "Open Sans", Calibri, sans-serif;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 1.35;
  letter-spacing: -0.01em;
  position: relative;
}

/*
/*
/*
/*
/* API query explorer styles. */
.container-fluid {
  margin: 2em 4em 3em 4em;
}
h1 {
  font-size: 1.4em;
  line-height: 1.7;
  margin-bottom: 2ex;
  color: #999;
}
h1 small {
  font-size: 14px;
}
.chart h3 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

.api-query textarea {
  color: #bedfff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  /*margin: 12px 0 15px 0;*/
  border: none;
  background: #494855;
  resize: none;
  
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 1);
  -moz-box-shadow:    inset 0 1px 0 0 rgba(0, 0, 0, 1);
  box-shadow:         inset 0 1px 0 0 rgba(0, 0, 0, 1);

  -webkit-transition: background .2s ease-in-out .1s;
  -moz-transition: background .2s ease-in-out .1s;
  -ms-transition: background .2s ease-in-out .1s;
  transition: background .2s ease-in-out .1s;
}
.api-query textarea:hover {
  color: #d2e2ff;
  background: #535362;
}

.api-query textarea:focus {
  color: #d2e2ff;
  background: #535362;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 1);
  -moz-box-shadow:    inset 0 1px 0 0 rgba(0, 0, 0, 1);
  box-shadow:         inset 0 1px 0 0 rgba(0, 0, 0, 1);
}
.api-query .btn {
  margin: 7px 0 15px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  white-space: nowrap;
  border: 1px solid #1d2643;
  background: #026dd9;
  background: -webkit-linear-gradient(top, #068cff 0, #026dd9 100%);
  background: -moz-linear-gradient(top, #068cff 0, #026dd9 100%);
  background: -o-linear-gradient(top, #068cff 0, #026dd9 100%);
  background: -ms-linear-gradient(top, #068cff 0, #026dd9 100%);
  background: linear-gradient(to bottom, #068cff 0, #026dd9 100%);
}
.api-query-control {
  font-size: 15px;
}
.api-query-control h4 {
  color: #999;
}

/*
/*
/*
/*
/* Chart styles. */

.c3 svg {
  font-family: "Open Sans", Calibri, sans-serif;
}
.chart svg {
  margin-top: 15px;
  height: 100%;
}
.chart svg rect {
  fill: #777;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}
.chart svg text {
  font: 7px;
  text-anchor: start;
  /*text-transform: capitalize;*/
}
.chart svg .axis text {
  fill: #aaa;
  font: 7px;
  /*text-transform: capitalize;*/
}
.chart svg .axis path,
.chart svg .axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}
.chart.coverage {
  color: #aaa;
  text-align: center;
}
.chart #chart-coverage {
  margin-bottom: 2ex;
}
.chart #chart-coverage svg {
  width: 90px;
  height: 90px;
}